<html>
    <head>
        <title>Novo usuário</title>
    </head>
    <body>
        <div id="principal" style="width: 600px; margin: auto; border: 1px solid #D2D2D2; font-family: Roboto-Regular,Helvetica,Arial,sans-serif; font-size: 13px; color: #202020; line-height: 1.5;">
            
            <div class="titulo" style="background-color: #E6E6E6; height: 70px; text-align: center;">
                <h2 style="padding-top:23px; margin-top: 0px;">Acesso ao aplicativo Busca Barato</h2>
            </div>
            
            <div class="corpo" style="background-color: #FAFAFA; padding: 0px 20px;">
                <p class="linha1" style="margin-top: 0px; padding-top: 25px;">Olá #nome#,</p>
                
                <p>Você está recebendo este e-email pois realizou o seu cadastro no Busca Barato.<br>
                    Para ativar sua conta, basta clicar no link abaixo.</p>
                <p><a href="#link#">Clique aqui para ativar sua conta.</a></p>
                <br>
                
                <p>Caso não reconheça essa atividade, favor desconsiderar esta mensagem.</p>

                <p style="margin-bottom:0px; padding-bottom: 25px;">A equipe do Busca Barato agradece.</p>
            </div>
            
            <div style="background-color: #E6E6E6; font-size: 9px; text-align: right; padding: 5px;">
                Mobitec Sistemas - 2017
            </div>
            
        </div>
    </body>
</html>