<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         metadata-complete="false">

    <display-name>Busca Barato</display-name>
    
    <context-param>
        <param-name>br.com.caelum.vraptor.encoding</param-name>
        <param-value>UTF-8</param-value>
    </context-param>
    
    <context-param>
        <param-name>br.com.caelum.vraptor.packages</param-name>
        <param-value>br.com.caelum.vraptor.util.jpa</param-value>
    </context-param>
    
    <jsp-config>
        <jsp-property-group>
            <description>BuscaBarato</description>
            <display-name>Busca Barato</display-name>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/jspf/header.jspf</include-prelude>
            <include-coda>/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    
    <!-- Para trabalhar com HTTS -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>buscabarato</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>

